language: python
python:
- '3.8'
install:
- pip install -r requirements-travis.txt
- pip install django-allauth
script:
- python manage.py test
deploy:
  provider: heroku
  api_key:
    secure: BrfqBvcK36ga7WKcLbca3MJiEmMUMKGQ1dym14aBQWmyjMti7ZnEnpX/OsdXodAVRQ4RGUupWOgar8RgAYf3JfpiW9RKfNNI3GziYNWvVtdlop36UM9EZV2EkWOWu0jTeAknUgoCxvGv37lf3kpgFZ+KlZXV1l8Yim4LWXwyoaQ3j2aIQjlww99O6Bl0GXtycJRn1ine2vXx6GhM6Da20Ug92E2sZMeBxwuf9vlN4ffeZNtqlPc25fjVn7I7zgig9f0rhEo/mtp6rdaNSg/UcAIWx8cE6t7yW4LO0rC0n2Ka6MJw9qJmHbQ5zjg5/dK84eArxSnbtCELFjcrNcr3bMPyJuXwuvo+mMnU0STP/yMpAS06rgQ4otR2OaLEABoiI0nzO3S78aHlrjZBsmIwGVj3IzGB00gGgQDI0MVWl9ln2BMnJ9p4cPiRr45jne7iJaX9nHABZzeIST1h6XjTvcXNKjsO1Ou9yL1e6IVvSlXfG3WmeSJrDQb+9vzkY0MebkTgyCBGInbAqTGrNO8k7edW4rW7dfvgaWFBl2N0g5CLj0MsrzTe1VSWsRnzvJ/xg8ex3sdfW2kTOBnwQdPgiWtonliRiGEXS6i4gIkID67mMBNHQaQLT1zp6/VWQtD9VeFE3RdbFtJTPU4lAMlSO/HYmljUiYi74NTtT/2BL24=
  app: project-a-09
  on:
    repo: uva-cs3240-s21/project-a-09
