.center {
    margin: auto;
    width: 50%;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  a:hover{
      color:white;
  }

h2{
    text-align: center;
}

.friend-card{
    vertical-align: middle;
}
/*.img-cropper {
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid #555;
}
img {
    object-fit: cover;
    display: inline;
    margin: 0 auto;
    margin-left: -25%; 
    height: 100%;
    width: 100%;
  }*/